############################################
#	Printer
############################################

[printer]
kinematics:cartesian
max_velocity: 500
max_accel: 5000
max_accel_to_decel: 2500
max_z_velocity: 15
max_z_accel: 100
square_corner_velocity: 8.0

[mcu]
serial: /dev/ttyS0
restart_method: command

[include MKS_THR.cfg]

[heater_bed]
heater_pin: PA0
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PC0
max_power: 1.0
control = pid
pid_kp = 71.039
pid_ki = 2.223
pid_kd = 567.421
min_temp: 0
max_temp: 200

#fan for printed model FAN0
#[fan]
#pin: MKS_THR:gpio2

[resonance_tester]
accel_chip: adxl345
probe_points:
    100, 100, 20  # an example
accel_per_hz: 300

[virtual_sdcard]
path: /home/kingroon/printer_data/gcodes

[pause_resume]

[display_status]

[idle_timeout]
timeout: 3600

[gcode_arcs]
resolution: 0.1

############################################
#	Temperature
############################################

[temperature_sensor mcu]
sensor_type: temperature_mcu

[temperature_sensor host]
sensor_type: temperature_host

[temperature_sensor CAN]
sensor_type: temperature_mcu
sensor_mcu: MKS_THR


############################################
#	Stepper
############################################

[include stepper.cfg]


########################################
# 	Probe
########################################

[probe]
pin:!MKS_THR:gpio21
x_offset: -10
y_offset: 0
z_offset: 0
speed:5
samples:3
samples_result:median
sample_retract_dist: 1.2
samples_tolerance: 0.05
samples_tolerance_retries: 3


########################################
# LED Control
########################################

#[output_pin caselight ](Use PA9)
##  Chamber Lighting - In 5V-RGB Position
#pin: PC5
#pwm: true
#shutdown_value: 0
#value:100
#cycle_time: 0.01


########################################
# TMC UART configuration
########################################

[include tmc.cfg]


########################################
# TMC UART configuration
########################################

[include heater_verify.cfg]


########################################
# Input_Shaper
########################################

[input_shaper]
shaper_freq_x: 55.6
shaper_type_x: 2hump_ei
shaper_freq_y: 146.0
shaper_type_y: zv


########################################
# Input_Shaper
########################################

[include macros.cfg]
