#####################################
#              PRINTER              #
#####################################

[printer]
kinematics: cartesian
max_velocity: 250
max_accel: 3000
max_accel_to_decel:3000
max_z_velocity: 25
max_z_accel: 100
square_corner_velocity: 5.0

[input_shaper]
shaper_freq_x: 61.6570
shaper_freq_y: 47.3372
shaper_type_x: mzv
shaper_type_y: mzv

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
baud: 250000
restart_method: command

[temperature_sensor HOST]
sensor_type: temperature_host

[temperature_sensor MCU]
sensor_type: temperature_mcu

#[static_digital_output display_reset]
#pins: !PC6, !PD13

[thermistor TL NTC100K B3950]
## values calibrated against a PT100 reference
temperature1: 25.0
resistance1: 103180.0
temperature2: 150.0
resistance2: 1366.2
temperature3: 250.0
resistance3: 168.6

#####################################
#          G-Code features          #
#####################################

[virtual_sdcard]
path: ~/gcode_files

[display_status]

[pause_resume] 

[gcode_arcs]

[respond]


#####################################
#        Heater Verification        #
#####################################

[verify_heater heater_bed]
max_error: 130
check_gain_time: 120
hysteresis: 5
heating_gain: 2

[verify_heater extruder]
max_error: 120
check_gain_time: 120
hysteresis: 5
heating_gain: 2


#####################################
#              STEPPER              #
#####################################

[include stepper.cfg]


#####################################
#                TMC                #
#####################################

[include tmc.cfg]


#####################################
#             EXTRUDER              #
#####################################

[include extruder.cfg]


#####################################
#               BED                 #
#####################################

[include bed.cfg]


#####################################
#               FAN                 #
#####################################

[include fan.cfg]


#####################################
#              BLtouch              #
#####################################

[include bltouch.cfg]


#####################################
#              MACROS               #
#####################################

[include macros/*.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 22.955
#*# pid_ki = 1.134
#*# pid_kd = 116.210
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 44.282
#*# pid_ki = 0.246
#*# pid_kd = 1994.365
